# Database
DATABASE_URL=postgresql://neondb_owner:npg_PdJ4knBbI3NV@ep-nameless-feather-atbky6sj-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
# Authentication
BETTER_AUTH_SECRET=mPuxpv9O63VHECklaUcNW65l9E7Kcj+Fd9qbb+5f3Yg=
BETTER_AUTH_URL=http://localhost:3000

# Redis
REDIS_URL="rediss://default:gQAAAAAAAhTuAAIgcDJlODQyMDUyMTE0ODY0ZDI1OTU2ZWU5OWJmYzY0ZGNkNg@open-piglet-136430.upstash.io:6379"
KV_REST_API_URL="https://open-piglet-136430.upstash.io"
KV_REST_API_TOKEN="gQAAAAAAAhTuAAIgcDJlODQyMDUyMTE0ODY0ZDI1OTU2ZWU5OWJmYzY0ZGNkNg"
KV_REST_API_READ_ONLY_TOKEN="ggAAAAAAAhTuAAIgcDKBwQLZ65XFACQOUba9M3_UIgHnzdHL1oROvrCTbAPeZA"

# Optional: AWS Configuration (for future migration)
# AWS_REGION=us-east-1
# AWS_RDS_ENDPOINT=your-rds-endpoint.rds.amazonaws.com
# AWS_ACCESS_KEY_ID=your_aws_access_key
# AWS_SECRET_ACCESS_KEY=your_aws_secret_key

# Node Environment
NODE_ENV=development
